h1 {
    color: rgb(12, 12, 12);
    background-color: rgb(192, 233, 245);
}
h3 {
    color: rgb(0, 0, 0);
    background-color: rgba(144, 228, 228, 0.897);
}


tr, td {
    color: rgb(26, 25, 25);
    background-color: rgb(192, 240, 225);
